<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Jon Langel</h1>
		<p>Welcome to my journey of learning Ruby on Rails.</p>
		<p>This is a blog that I built with Rails 5 with some help from a few tutorials.</p>
		<p>You can follow my journey as I learn Ruby on Rails on Twitter <a href="https://twitter.com/jm_langel">@JM_Langel</a>, and you can find me on Github as well to see other applications I am working on at <a href="https://github.com/JonMLangel">@JonMLangel</a>.</p>
	</div>
</div>